---
layout: default
---
{% include post.html page=page %}

<div class="post pagination">

  {% if page.previous %}
  <div>
    <a href="{{ page.previous.url }}" class="previous">
      上一篇: {{ page.previous.title }}
    </a>
  </div>
  {% endif %}

  {% if page.next %}
  <div>
    <a href="{{ page.next.url }}" class="next">
      下一篇: {{ page.next.title }}
    </a>
  </div>
  {% endif %}

</div>

<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"shimin"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->